.dark-skin #container {
  background-color: #666;
}

.dark-skin .content {
  border: 0;
  box-shadow: none;
}

.dark-skin #title {
  color: #FFF;
}

.dark-skin .logo {
  font-weight: bold;
}

.dark-skin .toolbar {
  background-color: #272822;
  border-bottom: 0;
}

.dark-skin #tutorial-content {
  background-color: #272822;
  color: #fff;
}

.dark-skin ::-webkit-scrollbar-track {
    background-color: #888;
}

.dark-skin ::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

.dark-skin .editor-title {
  color: #666;
}

.dark-skin #skin {
  color: #EEE;
}

.dark-skin #tutorial-content pre {
  background-color: transparent;
  border: 1px solid #555;
}

.dark-skin #tutorial-content pre > code {
  border: none;
  color: #FFF;
}

.dark-skin #tutorial-content h2 {
  color: #DDD;
}

.dark-skin #tutorial-content code {
  background-color: transparent;
  border: 1px solid #555;
  color: #F92672;
}

.dark-skin #tutorial-content a {
  color: #6ABED8;
}

.dark-skin #module-title {
  color: #FFF;
}