body:not(.compact) div#container {
  padding-top: 113px;
}

body.compact .content {
  height: 100%;
}

#toolbar {
  padding-top: 8px;
  float: right;
}

#toolbar > * {
  float: right;
  cursor: pointer;
}

.toolbar-button {
  border: none;
  background-color: transparent;
  padding-right: 10px;
  padding-left: 16px;
  height: 22px;
}

.toolbar-button .icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  left: -4px;
}

/* #download-button span { */
/*   background: url('../assets/icons/download.svg') left / 18px no-repeat transparent; */
/*   width: 18px; */
/*   height: 18px; */
/*   top: -4px; */
/* } */

#modify-button .icon {
  background: url('../assets/icons/edit.svg') left / 20px no-repeat transparent;
  width: 14px;
  height: 20px;
}

#codepen-button .icon {
  background: url('../assets/icons/codepen.svg') left / 20px no-repeat transparent;
  width: 20px;
  height: 20px;
  top: -2px;
}

#issue-button .icon {
  background: url('../assets/icons/github.svg') left / 20px no-repeat transparent;
  width: 20px;
  height: 20px;
  top: -2px;
}

.tooltip{
  display: inline;
  position: relative;
  font-size: 13px;
}

.tooltip:hover:after{
  background: rgba(0,0,0,.6);
  border-radius: 5px;
  top: 30px;
  color: #fff;
  content: attr(tooltip);
  right: 0;
  padding: 8px 10px;
  position: absolute;
  min-width: 150px;
}

.tooltip:hover:before{
  border: solid;
  border-color: rgba(0,0,0,.6) transparent;
  border-width: 0 6px 6px 6px;
  top: 24px;
  content: "";
  left: 15px;
  position: absolute;
}

.split.content {
  overflow: hidden;
}

#leftTopPane {
  position: relative;
}

#output > iframe {
  width: 100%;
  height: calc(100% - 32px);
}

.editor-title {
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 1;
  color: #DDD;
  font-size: 28px;
  font-weight: bold;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  pointer-events: none;
}

.content {
  position: relative;
}

#modal {
  pointer-events: none;
  opacity: 0;
  top: 30px;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;

  width: 400px;
  height: 200px;

  color: #333;
  background-color: #EEE;
  border-radius: 5px;
  border: 1px solid #999;
  position: absolute;
  left: calc(50% - 200px);
  z-index: 5;
}

#modal-mask {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 4;
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out;
}

.modal-body {
  position: relative;
  height: calc(100% - 50px);
  width: 100%;
}

#modal-footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#modal-title {
  padding: 20px 0 10px;
  height: 50px;
  box-sizing: border-box;
  margin: 0 40px;
  border-bottom: 1px solid #999;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#modal-content {
  text-align: center;
  text-align: center;
  padding: 30px 20px 0;
}

#modal-confirm {
  display: block;
}

#modal-generating {
  display: none;
}

#modal-generating > div{
  bottom: 10px;
}

.generating #modal-confirm {
  display: none;
}

.generating #modal-generating {
  display: block;
}

.visible #modal {
  pointer-events: auto;
  opacity: 1;
  top: 110px;
}

.visible #modal-mask {
  pointer-events: auto;
  opacity: 1;
}

.coming-soon {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  color: #333;
}


.cssload-loader * {
  box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cssload-loader {
  width: 1em;
  height: 1em;
  font-size: 101px;
  position: relative;
  display:block;
  margin: 34px auto;
}

.cssload-loader:before, .cssload-loader:after {
  content: "";
  top: 0;
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-width: 0.5em;
  border-style: double;
  border-color: transparent;
  border-radius: 1em;
  box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  animation: spin 0.95s infinite;
    -o-animation: spin 0.95s infinite;
    -ms-animation: spin 0.95s infinite;
    -webkit-animation: spin 0.95s infinite;
    -moz-animation: spin 0.95s infinite;
}
.cssload-loader:after {
  left: 0;
  border-left-color: rgb(56,56,56);
}
.cssload-loader:before {
  right: 0;
  border-right-color: rgb(56,56,56);
  animation-delay: -0.2325s;
    -o-animation-delay: -0.2325s;
    -ms-animation-delay: -0.2325s;
    -webkit-animation-delay: -0.2325s;
    -moz-animation-delay: -0.2325s;
}


@keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

@media (max-width: 840px) {
  #h3 #toolbar .label {
    display: none;
  }
}

@media (max-width: 675px) {
  #h2 > ul {
    display: none;
  }
}

@media (max-width: 575px) {
  #h3 #toolbar {
    display: none;
  }
}
