div#container {
  padding-top: 44px;
}

header {
  width: 100%;
  padding: 10px;
  position: fixed;
}

#title {
  float: left;
  width: 280px;
  font-size: 20px;
}

#title .logo {
  color: #FC3429;
  font-style: italic;
  margin-right: 12px;
}

#title > a {
  text-decoration: none;
  color: inherit;
}

select {
  margin-top: -4px;
  cursor: pointer;
  display: inline-block;
  height:30px;
  width: 150px;
  padding: 2px 10px 2px 2px;
  outline: none;
  color: #74646e;
  border: 1px solid #C8BFC4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
}

#modules {
  float: left;
  /*margin: 0 auto;*/
  position: relative;
  min-width: 400px;
  margin-left: 6px;
}

#modules > div {
  display: inline-block;
  text-align: center;
}
#module-title {
  float: right;
  margin-right: 20px;
  line-height: 24px;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: #333;
}

#module-title > div {
  display: inline-block;
}


#module-title-text {
  min-width: 150px;
  margin: 0 5px;
}

#module-list {
  width: 200px;
  float: right;
  position: relative;
}

#module-list > select {
  width: 100%;
}

.fancyArrow {
  margin-top: -4px;
  width: 23px;
  height: 24px;
  position: absolute;
  display: inline-block;
  top: 3px;
  right: 4px;
  background: url('../assets/icons/onsenui.svg') right / 90%  no-repeat #fff;
  pointer-events: none;
}

#toolbar {
  float: right;
  width: 50px;
  margin-right: 10px;
}

#skin-switch {
  mask-image: url('../assets/icons/eye.svg');
  -webkit-mask-image: url('../assets/icons/eye.svg');
  mask-size: cover;
  -webkit-mask-size: cover;
  display: inline-block;
  background-color: #666;
  width: 28px;
  height: 26px;
  float: right;
  margin-right: 10px;
  font-size: 28px;
  cursor: pointer;
}

.split.content {
  overflow: hidden;
}

#leftTopPane {
  position: relative;
}

#output > iframe {
  width: 100%;
  height: calc(100% - 32px);
}

.editor-title {
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 1;
  color: #DDD;
  font-size: 28px;
  font-weight: bold;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  pointer-events: none;
}

.content {
  position: relative;
}

/* @media (max-width: 762px) {
  #module-list {
    float: left;
  }
} */

@media (max-width: 772px) {
  #module-title {
    display: none !important;
    min-width: 0;
  }

  #modules {
    min-width: 200px;
  }
}

@media (max-width: 545px) {
  #title {
    width: 100px;
  }

  #title > a > span:not(.logo) {
    display: none !important;
  }
}