<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Onsen UI App</title>

  <script type="text/babel">
    const settings = {
      template: '#settings',
      props: ['openMenu']
    };
  
    const pageNav2 = {
      template: '#pageNav2',
      props: ['openMenu']
    };
  
    const cards = {
      template: '#cards',
      methods: {
        push($event) {
          var cardTitle = $event.target.textContent;
          var pageToPush = {
            extends: pageNav2,
            data() {
              return {
                cardTitle: cardTitle
              }
            }
          };
          this.$emit('push', pageToPush);
        }
      },
      props: ['openMenu']
    };
  
    const pageNav1 = {
      template: '#pageNav1',
      created: function () {
        this.title = this.title && this.title !== '' ? this.title : 'Custom Page';
      },
      methods: {
        pop() {
          this.$emit('pop');
        },
        push() {
          var title = this.$el.querySelector('ons-input').value;
          var pageToPush = {
            extends: pageNav1,
            data() {
              return {
                title: title
              }
            }
          };
          this.$emit('push', pageToPush);
        }
      },
      props: ['openMenu']
    };
  
    const home = {
      template: '#home',
      methods: {
        push() {
          this.$emit('push', pageNav1);
        }
      },
      props: ['pageStack', 'openMenu']
    };

    new Vue({
      el: '#app',
      template: '#app',
      data() {
        return {
          openSide: false,
          menuPages: [
            { label: 'Home', page: home },
            { label: 'Cards', page: cards },
            { label: 'Settings', page: settings }
          ],
          pageStack: [home]
        }
      },
      components: {
        home: home,
        cards: cards,
        settings: settings
      }
    });
  </script>
</head>
<body>
  <template id="app">
    <v-ons-splitter>
      <v-ons-splitter-side swipeable width="220px" collapse="" side="right" :open.sync="openSide">
        <v-ons-page>
          <v-ons-list>
            <v-ons-list-item v-for="menuPage in menuPages" :key="menuPage.label" tappable @click="pageStack = [menuPage.page]; openSide = false">
              {{ menuPage.label }}
            </v-ons-list-item>
          </v-ons-list>
        </v-ons-page>
      </v-ons-splitter-side>
      <v-ons-splitter-content>
        <v-ons-navigator :page-stack="pageStack">
          <component v-for="page in pageStack" @push="pageStack.push($event)" @pop="pageStack.pop()" :is="page" :key="page" :open-menu="() => {openSide = true}"></component>
        </v-ons-navigator>
      </v-ons-splitter-content>
    </v-ons-splitter>
  </template>

  <template id="home">
    <v-ons-page>
      <v-ons-toolbar>
        <div class="center">Splitter+Navigator</div>
        <div class="right">
          <ons-toolbar-button @click="openMenu">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
      </v-ons-toolbar>
      <h2>Home</h2>
      <div style="text-align: center">
        <br>
        <v-ons-button @click="push">
          Push Page
        </v-ons-button>
      </div>
      <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        Swipe left to open the menu!
      </p>
    </v-ons-page>
  </template>

  <template id="pageNav1">
    <v-ons-page>
      <v-ons-toolbar>
        <div class="left">
          <v-ons-back-button>Back</v-ons-back-button>
        </div>
        <div class="center">{{ title }}</div>
        <div class="right">
          <ons-toolbar-button @click="openMenu">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
      </v-ons-toolbar>
      <div style="text-align: center">
        <h1>Custom Page</h1>
        <p>
          <v-ons-input modifier="underbar" placeholder="Title" float></v-ons-input>
        </p>
        <v-ons-button @click="push">
          Push Page
        </v-ons-button>
        <v-ons-button @click="pop">
          Pop Page
        </v-ons-button>
      </div>
      <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        Swipe left to open the menu!
      </p>
    </v-ons-page>
  </template>

  <template id="cards">
    <v-ons-page>
      <v-ons-toolbar>
        <div class="center">Navigator+Tabbar</div>
        <div class="right">
          <ons-toolbar-button @click="openMenu">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
      </v-ons-toolbar>
      <h2>Cards</h2>
      <v-ons-list-title>Card List</v-ons-list-title>
      <v-ons-list>
        <v-ons-list-item @click="push">Card One</v-ons-list-item>
        <v-ons-list-item @click="push">Card Two</v-ons-list-item>
        <v-ons-list-item @click="push">Card Three</v-ons-list-item>
      </v-ons-list>
      <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        Swipe left to open the menu!
      </p>
    </v-ons-page>
  </template>

  <template id="pageNav2">
    <v-ons-page>
      <v-ons-toolbar>
        <div class="left">
          <v-ons-back-button>Back</v-ons-back-button>
        </div>
        <div class="right">
          <ons-toolbar-button @click="openMenu">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
      </v-ons-toolbar>
      <v-ons-card>
        <img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI" style="width: 100%">
        <div class="title">{{ cardTitle }}</div>
        <div class="content">
          <div>
            <v-ons-button>
              <v-ons-icon icon="ion-thumbsup"></v-ons-icon>
            </v-ons-button>
            <v-ons-button>
              <v-ons-icon icon="ion-share"></v-ons-icon>
            </v-ons-button>
          </div>
          <v-ons-list>
            <v-ons-list-header>Bindings</v-ons-list-header>
            <v-ons-list-item>Vue</v-ons-list-item>
            <v-ons-list-item>Angular</v-ons-list-item>
            <v-ons-list-item>React</v-ons-list-item>
          </v-ons-list>
        </div>
      </v-ons-card>
      <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        Swipe left to open the menu!
      </p>
    </v-ons-page>
  </template>

  <template id="settings">
    <v-ons-page>
      <v-ons-toolbar>
        <div class="center">Navigator+Tabbar</div>
        <div class="right">
          <ons-toolbar-button @click="openMenu">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
      </v-ons-toolbar>
      <h2>Settings</h2>
      <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        Swipe left to open the menu!
      </p>
    </v-ons-page>
  </template>

  <div id="app"></div>
</body>
</html>

<!-- info

## Combining Splitter and Navigator

A common Single-Page App pattern can be achieved by combining the `<v-ons-splitter>` and `<v-ons-navigator>` elements. This way you can have a side menu and provide stacked navigation in the main content.

In order to do so simply place the `<v-ons-navigator>` element inside the `<v-ons-splitter-content>` and provide the initial page as the first member of its `pageStack` prop (you can consult the components respective reference pages to better understand both):

```
<v-ons-splitter-side>
  ...
</v-ons-splitter-side>
<v-ons-splitter-content>
  <v-ons-navigator :page-stack="pageStack">
    <component v-for="page in pageStack" @push="pageStack.push($event)" @pop="pageStack.pop()" :is="page" :key="page" :open-menu="() => {openSide = true}"></component>
  </v-ons-navigator>
</v-ons-splitter-content>

// where
data() {
  return {
    openSide: false,
    menuPages: [
      { label: 'Home', page: home },
      { label: 'Cards', page: cards },
      { label: 'Settings', page: settings }
    ],
    pageStack: [home]
  };
}
```

## Loading pages from the menu

Since there is a navigator "ruling" the splitter's content you can load the intended page by resetting the navigator's `pageStack` when one of the items is tapped:

```
<v-ons-list-item v-for="menuPage in menuPages" :key="menuPage.label" tappable @click="pageStack = [menuPage.page]; openSide = false">
  {{ menuPage.label }}
</v-ons-list-item>
```

## Passing data in the Navigator

You push a page to the navigator by inserting it in the `pageStack`. In order to pass data to the pushed page you need to extend it with the data you need before pushing:

```
var title = this.$el.querySelector('ons-input').value;
var pageToPush = {
  extends: pageNav1,
  data() {
    return {
      title: title
    }
  }
};
this.$emit('push', pageToPush);
```

Then you can use the data on your target page.

-->
